.note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 16px;
  border-right: 2px solid;
  position: relative;
}

.string {
  position: absolute;
  height: 1.5px;
  width: 105%;
  background-color: rgb(215, 215, 215);
  top: 50%;
  transform: translate(0, -50%);
}

.fretNumber {
  position: absolute;
  top: -1rem;
  opacity: 0.3;
  font-size: 0.7rem;
}

.activeIndicator {
  width: 14px;
  height: 14px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fretDecorator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  opacity: 0.6;
  position: absolute;
  top: 100%;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 440px) {
  .note {
    width: 30px;
    min-width: 30px;
  }
}
