.controllerContainer {
  width: 100%;
  max-width: 100%;
  padding: 20px 0px 8px 0px;
  overflow-x: scroll;
  position: relative;
  display: flex;
  height: 300px;
  flex-direction: column;
  overflow-y: hidden;
  user-select: none;
}

.controllerContainer::-webkit-scrollbar {
  display: initial;
}

.controllerContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.3);
}

.controllerContainer::-webkit-scrollbar-thumb {
  background: var(--primaryColorDark);
  border-radius: 10px;
}

.fretboardContainer {
  height: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.controllerRightFade {
  position: sticky;
  width: 40px;
  background: linear-gradient(90deg, #33324000 0%, var(--backgroundColor) 85%);
  right: 0;
  height: 180px;
  min-width: 40px;
  z-index: 4;
}

.controllerToolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--backgroundColor);
  padding: 0 20px 26px 20px;
}

.resetBtn {
  transition: 0.2s ease-in-out;
  opacity: 0.55;
}
.resetBtn:active {
  transform: translate(1px, 2px);
  opacity: 0.9;
}

.resetBtn:hover {
  opacity: 0.9;
}
