html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --primaryColor: #7878dd;
  --primaryColorDark: #494981;
  --secondaryColor: #78dd78;
  --backgroundColor2: #333240;
  --backgroundColor: #27272c;
}

.resetBtn {
  transition: 0.2s ease-in-out;
  opacity: 0.75;
  background-color: var(--primaryColor);
}
.resetBtn:active {
  transform: translate(1px, 2px);
  opacity: 1;
}

.resetBtn:hover {
  opacity: 1;
  background-color: var(--primaryColor);
}
