.smallDisplaysContainer {
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.5);
  width: 90%;
  max-width: 90%;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  margin: 20px;
  height: auto;
  min-height: 400px;
  background-color: var(--backgroundColor2);
}

@media only screen and (max-width: 440px) {
  .smallDisplaysContainer {
    padding: 20px 8px;
  }
}
